<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>Home</title>
  </head>
  <body class="container">
    <h1 align="center">Home</h1> <br>
    <form method="POST">
        <label for="">Rate your travel cost preference from 1 to 4, with 1 being economy and 4 being luxury</label><br>
        <input type="text" name="cost" placeholder="E.x., 3" class="form-control"><br>
        <label for="">How many days do you want to go to Telluride?</label><br>
        <input type="text" name="days" placeholder="E.x., 2" class="form-control"><br>
        <label for="">In the next 3 boxes, name your top 3 activity preferences from the following list: <br> <br>

            <div class="container">
              <div class="row">
                <div class="col">culture</div>
                <div class="col">outdoors</div>
                <div class="col">relaxing</div>
                <div class="w-100"></div>
                <div class="col">romantic</div>
                <div class="col">beaches</div>
                <div class="col">historic</div>
                <div class="w-100"></div>
                <div class="col">museums</div>
                <div class="col">shopping</div>
                <div class="col">wildlife</div>
                <div class="w-100"></div>
                <div class="col">hiking</div>
                <div class="col">scenic</div>
                <div class="col">active</div>
              </div>
            </div> <br>

        <input type="text" name="pref1" placeholder="preference 1" class="form-control"><br>
        <input type="text" name="pref2" placeholder="preference 2" class="form-control"><br>
        <input type="text" name="pref3" placeholder="preference 3" class="form-control"><br>
        <div align="center">
            <button type="submit" class="btn btn-primary">Submit Information</button>
        </div>
    </form>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

  </body>
</html>